body {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: aqua;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.row {
    height: 100%;
    display: flex;
    flex-direction: row;
}

/***** HEADER *****/
header {
    border-bottom: 1px  solid black;
    display: flex;
    flex-direction: row;

}

#navigation {
    list-style: none;
}

.nav-link {
    display: inline-flex;
    padding: 15px;
}

#site {
    display: flex;
    align-items: stretch;
    min-height: 600px;
}

#content {

}
.sport-items-container {
    background-color: blueviolet;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.sport-item {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

.sport-item-attribute {
    display: flex;
    flex-direction: row;
}

#option-panel {
    border-right: 1px solid black;
    min-width: 350px;

}

#footer {
    border-top: 1px solid black;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
    .row {
      flex-direction: column;
    }
}